@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
body {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #1c1c1c;
  background-color: #F2F4F4;
  font-family: 'Rubik', sans-serif;
}

.heading-text {
  margin: 15px 0px;
  padding: 13px 20px;
  background-color: #ffffff;
  margin-bottom: 10px;
  border-radius: 4px;
  color: #333333;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.loader-main {
  height: 100vh;
  position: fixed;
  background: #ffffff;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader-main .jumpy-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 4.5em;
  height: 3.5em;
  gap: 0.3em;
}

.loader-main .jumpy-bars #bar1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader-main .jumpy-bars #bar2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader-main .jumpy-bars #bar3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader-main .jumpy-bars #bar4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loader-main .jumpy-bars #bar5 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.loader-main .jumpy-bars #bar6 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.loader-main .jumpy-bars #bar7 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.loader-main .jumpy-bars .bar {
  width: 1em;
  height: auto;
  opacity: 0;
  background-color: #770015;
  border-radius: 100%;
  animation: jumping-bars 1s linear infinite alternate-reverse;
}

@-webkit-keyframes jumping-bars {
  0% {
    opacity: 1;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1.8);
            transform: scaleY(1.8);
  }
}

@keyframes jumping-bars {
  0% {
    opacity: 1;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1.8);
            transform: scaleY(1.8);
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  padding: 0.467rem 1.5rem;
  font-size: 1rem;
  line-height: 1.6rem;
  border-radius: 0.267rem;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.btn-icon {
  padding: 3px 10px;
  font-size: 11px;
}

.text-primary {
  color: #5a8dee !important;
}

.bg-primary {
  background-color: #5a8dee !important;
}

.btn-primary {
  border-color: #2C6DE9 !important;
  background-color: #5a8dee !important;
  color: #ffffff;
}

.btn-warning,
.btn-warning:hover {
  border-color: #FDAC41 !important;
  background-color: #FC960F !important;
  color: #ffffff;
}

.btn-danger {
  border-color: #FF2829 !important;
  background-color: #FF5B5C !important;
  color: #ffffff;
}

.card {
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 30px;
  background-color: #ffffff;
  border: none;
}

.card .card-body {
  padding: 20px;
}

.card .card-body .card-header {
  padding: 15px 30px;
}

.form-group {
  margin-bottom: 1rem;
}

.input-group .input-group-text {
  height: 100%;
  padding: 12px 18px;
}

.form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 15px 19px;
  font-size: 1rem;
  line-height: 1.4;
  color: #475F7B;
  background-color: #ffffff;
  border: 1px solid #DFE3E7;
  border-radius: 0.267rem;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.form-control:focus {
  color: #475F7B;
  background-color: #ffffff;
  border-color: #5a8dee;
  outline: 0;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.table .thead-dark th {
  color: #ffffff;
  background-color: #343a40;
  border-color: #454d55;
}

.table th, .table td {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.table td.avatar-img img {
  max-height: 100px;
}

.user-img {
  margin-bottom: 20px;
}

.user-img img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -o-object-position: top;
     object-position: top;
}

.user-link {
  color: #333333;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.user-link:hover {
  color: #5a8dee;
}

.user-card {
  height: calc(100% - 25px);
  position: relative;
}

.user-card .card-header {
  padding: 30px 20px;
  max-height: 80px;
  background-color: #5a8dee;
}

.user-card .card-header .user-img {
  margin-bottom: -50px;
}

.user-card .card-header .user-img img {
  outline: 2px solid #ffffff;
  background-color: #ffffff;
}

.user-card .card-body {
  padding: 40px 0 60px;
}

.user-card .card-body .user-btns {
  position: absolute;
  bottom: 15px;
  right: 0;
  left: 0;
}

.success-modal .modal-header {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
  max-height: 46px;
}

.success-modal .modal-body {
  padding: 20px 15px;
}
/*# sourceMappingURL=style.css.map */